.idea
.sonar
.vagrant
/vendor
/node_modules
/bower_components
/package-lock.json
/bash.exe.stackdump
/Config.json

/htmldump
/credentials
/Core/Data/Config/General.xml
/Core/Data/Cache
/Core/Data/ErrorLog
/Core/Data/Config/environment.php
/dist
/tmp
/revision.json

# TODO: Perhaps it would be better to load these config files from the dist folder.
/Templates/MastersPortal/
/Templates/MastersResponsive/Analytics/
/Templates/MastersResponsive/Hotjar/
/Templates/MastersResponsive/IcoMoon/
/Templates/MastersResponsive/Includes/
/Templates/MastersResponsive/Mixpanel/

**/*.tp4-cache
.vscode
.DS_Store

/TestSuites/SeleniumWebdriver/LLODtestChrome/Modules/SyncToy_53c1c661-41f2-414e-8739-5afdf0862158.dat
/TestSuites/SeleniumWebdriver/LLODtestChrome/Tests/SyncToy_ec3fda0a-6cbb-4f4c-96fb-a895d591e6d9.dat
